$themesColor: (
  0: (
    //主题背景颜色
    mainBgColor: #999999,
    //全站默认字体颜色
    fontColor: #FFFFFF,
    lightColor: #eeeeee,
    // 副色
    followColor:#CBCBCB,
    // 优惠券特殊字体
    specialColor: #333333,
  ),
  dalishuishou: (
    //主题背景颜色
    mainBgColor: #036EB8,
    //全站默认字体颜色
    fontColor: #ffffff,
    lightColor: #E8A44F,
    // 副色
    followColor:#7CC1F0,
    // 优惠券特殊字体
    specialColor: #ffffff,
  ),
  css: (
    //主题背景颜色
    mainBgColor: #F9D600,
    //全站默认字体颜色
    fontColor: #3E3C32,
    lightColor: #E8A44F,
    // 副色
    followColor:#FAD600,
    // 优惠券特殊字体
    specialColor: #E24A4A,
  ),
  1: (
    mainBgColor: #FFBB00,
    fontColor: #F8F8F8,
    lightColor: #E8A44F,
    // 副色
    followColor:#f9d600,
    specialColor: #E24A4A,
  ),
  2: (
    mainBgColor: #7905CC,
    fontColor: #ffffff,
    lightColor: #7b11e3,
    // 副色
    followColor:#B05AF8,
    specialColor: #ffffff,
  ),
  3: (
    mainBgColor: #CD0D35,
    fontColor: #F8F8F8,
    lightColor: #cf1701,
    // 副色
    followColor:#FC3C63,
    specialColor: #ffffff,
  ),
  4: (
    mainBgColor: #24A1FC,
    fontColor: #F8F8F8,
    lightColor: #1570ff,
    // 副色
    followColor:#46BBFC,
    specialColor: #ffffff,
  ),
  5: (
    mainBgColor: #3DC148,
    fontColor: #F8F8F8,
    lightColor: #2dd136,
    // 副色
    followColor:#67E060,
    specialColor: #ffffff,
  )
);