$themesBackground: (
  0: (
    background: url(~@/../static/whitebg.png) repeat-y,
    ),
  1: (
    background: url(~@/../static/whitebg.png) repeat-y,
    ),
  2: (
    background: url(~@/../static/violetbg.png) repeat-y,
    ),
  3: (
    background: url(~@/../static/yearbg@2x.png) repeat-y,
    ),
  4: (
    background: url(~@/../static/bluebg.png) repeat-y,
    ),
  5: (
    background: url(~@/../static/greenbg.png) repeat-y,
  )
);